header,footer { text-align: center; padding: 20px; background-color: #3e1f47; color: white; }
header h2 { width: 250px; }
header h2:hover { cursor: pointer; }
.name { font-size: 55px; color: #ff4da6; }
#dotcom { font-size: 12px; }
#profile { width: 150px; height: 150px; }
#profile:hover { opacity: .5; }
nav { padding: 15px; background-color: #2b222b; top: 0; }
nav a { text-decoration: none; color: white; padding: 14px; margin: 1px; }
nav ul { list-style-type: none; display: inline; }
li { float: left; }
nav a:hover { background-color: #3e1f47; }
section { border: 1px solid #3e1f47; background-color: #3e1f47; padding: 25px; }
article { padding: 15px; border: 1px solid lightblue; background-color: azure; max-width: 900px; margin-left: 5px;               margin-right: 5px; }
#login_nav { padding: 15px; background-color: #2b222b; top: 0; }
#login_nav ul { list-style-type: none; display: inline; }
#login_nav a { text-decoration: none; color: white; padding: 14px; }
#login_ul li { float: left; }
#login_nav a:hover { background-color: #3e1f47; }
#private, #public { background-color: #3e1f47; padding: 20px; color: white; }
#private:hover, #public:hover { cursor: pointer; background-color: dodgerblue; }
#private_box, #public_box { display: none; }
